feedback_automation_workflow.json
{
  "name": "feedback_automation_workflow",
  "nodes": [
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Data",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name "
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Feedback"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        576,
        -80
      ],
      "id": "9e6f3989-1e67-4d51-9f39-9f394a70aa77",
      "name": "On form submission",
      "webhookId": "ddefc75f-bd32-4bf1-b618-ef715c79743e",
      "credentials": {
        "httpBasicAuth": {
          "id": "czPDi0StMSEXrkgU",
          "name": "Unnamed credential 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU",
          "mode": "list",
          "cachedResultName": "Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name ": "={{ $json['Name '] }}",
            "Email": "={{ $json.Email }}",
            "Feedback": "={{ $json.Feedback }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        784,
        -80
      ],
      "id": "3540ef0f-62c5-496e-b6db-a2c318ebb114",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5lPANZrmVi4cbwGw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Feedback }}",
        "options": {
          "categories": "Positive, Neutral, Negative"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        992,
        -96
      ],
      "id": "2ca41604-44df-47db-a948-f4cfc4b61555",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        992,
        160
      ],
      "id": "20d358aa-ad5b-4b16-a13c-49833be35143",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "6wJPJ1de0aSjP2vj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU",
          "mode": "list",
          "cachedResultName": "Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "Negative"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        128
      ],
      "id": "a5a0786e-2550-4a33-8422-d2f6db33032a",
      "name": "Append row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5lPANZrmVi4cbwGw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU",
          "mode": "list",
          "cachedResultName": "Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "Neutral"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        -80
      ],
      "id": "ad0486c9-f54f-4190-9dd9-016f73c79776",
      "name": "Append row in sheet3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5lPANZrmVi4cbwGw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Append row in sheet').item.json.Email }}",
        "subject": "Thank you for using our services",
        "emailType": "text",
        "message": "=Dear  {{ $('Append row in sheet').item.json['Name '] }}, \nThank you for using our services at LA CC. We highly appreciate your feedback. \nRegards,\nLA CC team.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        -272
      ],
      "id": "93a695aa-13ad-4411-b04b-17f8e6eb6a4b",
      "name": "Send a message",
      "webhookId": "3c26c295-e5ea-493b-b478-392a7fb8dad4",
      "credentials": {
        "gmailOAuth2": {
          "id": "FAmbNV4RkOabqYkz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "kandhro62@gmail.com",
        "subject": "Negative feedback, requires human intervention",
        "message": "A negative feedback was received, look into it and solve the query please.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1696,
        128
      ],
      "id": "4ef670b0-e7e0-4805-83c5-00101fdf27da",
      "name": "Send a message1",
      "webhookId": "74b44c0b-1b75-4bdf-a715-5026b5d1c1f9",
      "credentials": {
        "gmailOAuth2": {
          "id": "FAmbNV4RkOabqYkz",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU",
          "mode": "list",
          "cachedResultName": "Form",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tSYCAFZvvi5lGILtT4QB6nW-1QszHXrRzuy-uKYwtnU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "Positive"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name ",
              "displayName": "Name ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Feedback",
              "displayName": "Feedback",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Action",
              "displayName": "Action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1440,
        -272
      ],
      "id": "52cba776-e20d-4ece-b0a3-e5a12e12ae82",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5lPANZrmVi4cbwGw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0AFTFNA7AS",
          "mode": "list",
          "cachedResultName": "all-feedback"
        },
        "text": "={{ $('Append row in sheet').item.json.Feedback }} ",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        2048,
        -48
      ],
      "id": "ab2b9a19-bbaf-4cc8-9031-68c4693c4ada",
      "name": "Send a message2",
      "webhookId": "78beafed-f263-4dfa-95ad-8569b0f83ee3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "rRjjGkBzX7hmt39V",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet3": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet2": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "65724038-e70c-415e-a52f-9bf192b4ade7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5e10f8494404a715243a030f22b12098e90f2099fbae7848c61e42d03ec9b26c"
  },
  "id": "SZs2mPQ2vDPETNU9_zqVt",
  "tags": []
}